<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Jnana Ankura</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>
<body>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#">Jnana<span>Ankura</span></a></div>
            <ul class="menu">
                
                <li><a href="/admin_logout">Logout</a></li>
            </ul>
            
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                  </div>
        </div>
    </nav>
<br>
<br>
<section class="contact" id="contact">
    <div class="max-width">
<h1>DASHBOARD</h1>

<table width="50%">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Course</th>
        <th>Mobile</th>
        
    </tr>

    <%
        if(users.length > 0){
            for(let i=0;i<users.length;i++){
              %>
              <tr>
                <td><%= users[i].name %></td>
                <td><%= users[i].email %></td>
                <td><%= users[i].course %></td>
                <td><%= users[i].phoneNo %></td>
                <!-- <><img src="userImages/<%= users.image %>" width="100px" height="100px" %>" alt="<%= users.image %>"></td>-->
                
                <td>
                    <a href="/delete-user?id=<%= users[i]._id %>">Delete</a>
                </td>
              </tr>
              <%
            }
        }    
        else{
         %>
         <tr>
            <td colspan="5">Users Not Found</td>
         </tr>
         <%
        }
    %>  
   <style>
    table,td,th {
      border :1px solid black;
    }
    table{
      border-collapse: collapse;
      width:100%;
    }
    td{
      text-align:center;
    }

   </style>     

</table>
</div>
</section>

<!-- footer section start -->
<br>  <br>  <br>  <br>  <br>  <br> <br> 
<footer>
    <span>Created By <a href="#">Swaroop S Patil</a> | <span class="far fa-copyright"></span> 2023 All rights reserved.</span>
</footer>

<script src="script.js"></script>
</body>


</html>



